#=========================================
# DB CONFIG
DB_HOST
DB_PORT
DB_USER
DB_PASSWORD
DB_NAME
DB_URL

REDIS_HOST
REDIS_PORT
REDIS_PASSWORD
DB_REDIS

#=========================================
# OPENROUTER
OPENROUTER_API_KEY
OPENROUTER_BASE_URL
LLM_MODEL_NAME
LLM_TEMPERATURE
LLM_MAX_TOKENS

#=========================================
# HUGGINGFACE
HF_TOKEN
EMBEDDING_MODEL_NAME

#=========================================
# APP CONFIG
APP_ENV
APP_PORT
PYTHON_LLM_SERVICE_URL
CACHE_TTL_SECONDS